<footer id="colophon" class="site-footer border-top text-center bg-white py-4">
  <section class="footer-widgets text-left">
    <div class="container pt-2">
      <div class="row">
        <div class="col-lg-3">
          <span>
            <img src="https://erlef.org/images/eef-logo.svg" width="100" alt="">
          </span>
          <p>Supporting the BEAM community</p>
        </div>
        <!--col-->
        <div class="col-lg-3">
          <h6 class="text-uppercase text-muted">About the EEF</h6>
          <ul class="list-unstyled ">
            <li class="list-item">
              <a target="_blank" href="https://ErlangEcosystemFoundation.wildapricot.org/Sys/Profile">Membership
                details</a>
            </li>
            <li class="list-item"><a href="https://members.erlef.org/join-us">Join us!</a></li>
            <li class="list-item"><a href="https://erlef.org/sponsors/">Sponsors</a></li>
            <li class="list-item"><a href="https://erlef.org/wg/">Working Groups</a></li>
            <li class="list-item"><a href="https://erlef.org/stipends">Stipends</a></li>
            <li class="list-item"><a href="https://erlef.org/bylaws">Bylaws</a></li>
            <li class="list-item"><a href="https://erlef.org/faq">FAQ</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h6 class="text-uppercase text-muted">Stay Up-to-Date</h6>
          <ul class="list-unstyled">
            <li class="list-item"><a href="https://erlef.org/news">News</a></li>
            <li class="list-item"><a href="https://erlef.org/events">Events</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h6 class="text-uppercase text-muted">Get in Touch</h6>
          <ul class="list-unstyled">
            <li class="list-item"><a href="https://erlef.org/contact">Contact Us</a></li>
          </ul>
          <div class="row">
            <div class="col-sm-3 pb-2">
              <span><a href="mailto:eef@erlef.org"><i class="far fa-lg fa-envelope fa-2x"></i></a></span>
            </div>
            <div class="col-sm-3 pb-2">
              <span><a href="https://twitter.com/TheErlef"><i class="fab fa-lg fa-twitter fa-2x"></i></a></span>
            </div>
            <div class="col-sm-3 pb-2">
              <span><a href="https://github.com/erlef"><i class="fab fa-lg fa-github fa-2x"></i></a></span>
            </div>
            <div class="col-sm-3 pb-2">
              <span><a href="https://erlef.org/slack-invite/erlef"><i class="fab fa-lg fa-slack fa-2x"></i></a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>